.fondo-brushed {
  background-image: url(../img/brushed-alum.png);
}

#fondo-banner {
  background-image: url(../img/cubes.png);
}

#banger-25 {
  font-family: Bangers;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

#banger-25:hover {
  color: crimson;
}

.banger {
  font-family: Bangers;
  color: white;
  text-decoration: none;
}

.modal::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  display: none; /* Ocultar scroll */
}

.modal.scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  display: none; /* Ocultar scroll */
}
.modal {
  height: auto;
  width: auto;
}
#modal1 {
  overflow-x: hidden;
  /*overflow-y:hidden;*/
}

#cartas_superheroes {
  border-radius: 30px;
  border: black 2px solid;
}

#cartas_superheroes:hover {
  -moz-animation: 0.7s click 1;
  -webkit-animation: 0.7s click 1;
  -o-animation: 0.7s click 1;
  animation: 0.7s click 1;
}

#modal1 {
  border-radius: 30px;
  border: black 3px solid;
}
#fuenteMarvel {
  font-family: "Marvel", sans-serif;
  font-size: 17px;
}
#fuenteCuerpo {
  font-family: "Lilita One", cursive;
  font-size: 17px;
}
