.fondo-brushed {
  background-image: url(../img/brushed-alum.png);
}

.fondo-banner {
  background-image: url(../img/cubes.png);
}

.fondo-sofcarta {
  background-image: url(../img/sofcarta.png);
}

.banger-25 {
  font-family: Bangers;
  font-size: 25px;
  color: white;
  text-decoration: none !important;
}

#banger-25:hover {
  color: crimson;
}

.banger {
  font-family: Bangers;
  color: white;
  text-decoration: none;
}

.links:hover {
  color: crimson !important;
  text-decoration: none;
}

footer {
  align-items: flex-end;
}

.comic-card {
  margin: 1em;
}

.hero-card:hover {
  background-color: crimson !important;
}

.set {
  background-color: crimson !important;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0;
}
