.fondo-brushed {
  background-image: url(../img/brushed-alum.png);
}

#fondo-banner {
  background-image: url(../img/cubes.png);
}

#banger-25 {
  font-family: Bangers;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

#banger-25:hover {
  color: crimson;
}

.banger {
  font-family: Bangers;
  color: white;
  text-decoration: none;
}
