<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/estilo.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lilita+One|Marvel&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
  <title>Comic Store</title>
</head>

<body class="bg-info fondo-brushed">
  <main id="content">
    <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fondo-banner fix">
    <a class="navbar-brand banger-25" href="#">COMIC STORE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto banger">
        <li class="nav-item active">
          <a class="nav-link text-white links" href="#" v-on:click="cargarIndex">COMICS</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white links" href="#" v-on:click="cargarSuperHero">SUPER HEROES</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white links" href="#" v-on:click="cargarAboutMe">CREADOR</a>
        </li>
      </ul>
    </div>
  </nav>
  </header>

    <div id="index">
      <div class="container-fluid">
        <div class="card-deck comic-card">
          <div class="card p-3">
            <img src="img/avenger1.png" width="Responsive image">
            <div class="card-body text-center" style="font-family: Bangers">
              <h3>AVENGERS 1</h3>
              <p class="text-danger">$12000</p>
              <button class="btn-primary">COMPRAR</button>
            </div>
          </div>
          <div class="card p-3">
            <img src="img/avengereradeultron.png" width="Responsive image">
            <div class="card-body text-center" style="font-family: Bangers">
              <h3>ERA DE ULTRON</h3>
              <p class="text-danger">$13000</p>
              <button class="btn-primary">COMPRAR</button>
            </div>
          </div>
          <div class="card p-3">
            <img src="img/dead pool matandoparavivir.png" width="Responsive image">
            <div class="card-body text-center" style="font-family: Bangers">
              <h3>DEADPOOL</h3>
              <p class="text-danger">$12000</p>
              <button class="btn-danger">AGOTADO</button>
            </div>
          </div>
          <div class="card p-3">
            <img src="img/secretwar.png">
            <div class="card-body text-center" style="font-family: Bangers" width="Responsive image">
              <h3>SECRET WAR</h3>
              <p class="text-danger">$12000</p>
              <button class="btn-primary">COMPRAR</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-4" style="background-color: #000;margin: auto">
        <div class="col col-xl-12 col-12 text-center" style="color: #F5E83D;font-family: Bangers">
          <h1>PRONTO</h1>
          <h3>EL COMIC DE KICKASS</h3>
        </div>
        <div class="col col-xl-12 col-12 text-center">
          <img src="img/kickass.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div>

      <div class="container-fluid">
        <div class="card-deck comic-card">
          <div class="card p-3">
            <img src="img/spiderman1.png">
            <div class="card-body text-center" style="font-family: Bangers">
              <h3>SPIDERMAN BACK</h3>
              <p class="text-danger">$12000</p>
              <button class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> COMPRAR</button>
            </div>
          </div>
          <div class="card p-3">
            <img src="img/stranger things.png">
            <div class="card-body text-center" style="font-family: Bangers">
              <h3>STRANGER THINGS</h3>
              <p class="text-danger">$13000</p>
              <button class="btn btn-sm btn-danger"><i class="fas fa-plus"></i> AGOTADO</button>
            </div>
          </div>
          <div class="card p-3">
            <img src="img/thanosvence1.png">
            <div class="card-body text-center" style="font-family: Bangers">
              <h3>THANOS VENCE</h3><br>
              <p class="text-danger">$12000</p>
              <button class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> COMPRAR</button>
            </div>
          </div>
          <div class="card p-3">
            <img src="img/infinitygauntlet.png">
            <div class="card-body text-center" style="font-family: Bangers">
              <h3>INFINITY GAUNTLET</h3>
              <p class="text-danger">$12000</p>
              <button class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> COMPRAR</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="superhero" class="container-fluid" style="display: none;">
      <div class="card-deck">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" v-for="heroe in heroes">
          <div class="card p-3 m-3 fondo-banner bg-info hero-card" v-on:click="cargarModalHero(heroe)" data-toggle="modal" data-target="#modal-hero">
            <div class="card-title">
              <h3 class="text-center banger-25">{{ heroe.name }}</h3>
            </div>
            <img :src="heroe.image.url" width="Responsive image" height="250">
            <div class="card-body text-center banger">
              <span>Inteligencia</span>
              <div class="progress">
                <div class="progress-bar bg-success" :style="{ width: (heroe.powerstats.intelligence == 'null')?0:heroe.powerstats.intelligence+'%' }" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span>Fuerza</span>
              <div class="progress">
                <div class="progress-bar bg-primary" :style="{ width: (heroe.powerstats.strength == 'null')?0:heroe.powerstats.strength+'%' }" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span>Velocidad</span>
              <div class="progress">
                <div class="progress-bar bg-secondary" :style="{ width: (heroe.powerstats.speed == 'null')?0:heroe.powerstats.speed+'%' }" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span>Resistencia</span>
              <div class="progress">
                <div class="progress-bar bg-warning" :style="{ width: (heroe.powerstats.durability == 'null')?0:heroe.powerstats.durability+'%' }" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span>Poder</span>
              <div class="progress">
                <div class="progress-bar bg-danger" :style="{ width: (heroe.powerstats.power == 'null')?0:heroe.powerstats.power+'%' }" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span>Combate</span>
              <div class="progress">
                <div class="progress-bar bg-dark" :style="{ width: (heroe.powerstats.combat == 'null')?0:heroe.powerstats.combat+'%' }" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-hero" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content bg-info banger">
          <div class="modal-header fondo-banner">
            <h5 class="modal-title" id="exampleModalLabel">{{ (datos_heroe.biography['full-name'] == '')?datos_heroe.name:datos_heroe.biography['full-name'] }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body fondo-brushed">
            <p>Lugar de Nacimiento: {{ (datos_heroe.biography['place-of-birth'] == '-')?'Sin informacion':datos_heroe.biography['place-of-birth'] }}</p>
            <p>Relaciones: {{ (datos_heroe.connections.relatives == '-')?'Sin informacion':datos_heroe.connections.relatives }}</p>
            <p>Genero: {{ (datos_heroe.appearance.gender == 'Male')?'Masculino':'Femenino' }}</p>
            <p>Raza: {{ (datos_heroe.appearance.race == 'null')?'Sin informacion':datos_heroe.appearance.race }}</p>
            <p>Ocupacion: {{ (datos_heroe.work.occupation == '-')?'Sin informacion':datos_heroe.work.occupation }}</p>
            <p>Base de Operaciones: {{ (datos_heroe.work.base == '-')?'Sin informacion':datos_heroe.work.base }}</p>
            <p>Alias: <span v-for="alias in datos_heroe.biography.aliases">{{ (alias == '-')?'Sin informacion':' #'+alias }}</span></p>
            <p>Alter Egos: {{ (datos_heroe.biography['alter-egos'] == "No alter egos found.")?"Sin alter egos":datos_heroe.biography['alter-egos'] }}</p>
            <p>Alineacion: {{ (datos_heroe.biography.alignment == 'good')?'Bueno':'Malo' }}</p>
            <p>Grupo de Afiliacion: {{ (datos_heroe.connections['group-affiliation'] == '-')?'Sin informacion':datos_heroe.connections['group-affiliation'] }}</p>
            <p>Primera Aparicion: {{ (datos_heroe.biography['first-appearance'] == '-')?'Sin informacion':datos_heroe.biography['first-appearance'] }}</p>
            <p>Publicador: {{ (datos_heroe.biography.publisher == '')?'Sin informacion':datos_heroe.biography.publisher }}</p>
          </div>
          <div class="modal-footer fondo-banner">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="aboutme" style="display: none;">
      <!-- Inicio informacion Creadores -->
      <div class="container m-3">
        <div class="mx-auto">
          <div class="card mx-auto border-0" style="width: 25rem;">
              <img class="card-img-top img-fluid" alt="responsive image"
                src="https://scontent.fyai2-1.fna.fbcdn.net/v/t1.0-9/118549730_793016484780101_5618354612197023752_o.jpg?_nc_cat=105&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGEjK-NLaA_f9JHqMdc49Cl4thSRfFZVwDi2FJF8VlXANDCEMZX-G6Z4Ho5YyIv0nJeHu-to__yAL0wQdtgDLcN&_nc_ohc=M4U1zZgxl0sAX_wXJm7&_nc_ht=scontent.fyai2-1.fna&oh=e7fe793d69b07ddea765cf8ad17ca685&oe=6000A46B">
                <div class="card-body bg-info fondo-banner">
                  <h5 class="card-title banger">Daniel Vasquez</h5>
                  <p class="card-text">Creador de la pagina web</p>
                </div>
            </div>
          </div>
      </div>
    </div>

    <!-- Comienzo de Footer -->
    <footer class="bg-primary p-2 banger fondo-banner">
      <div class="row d-block">
        <div class="col-8 float-left">
          <h5 class="text-white">Comic Store</h5>
        </div>
        <div class="col-4 float-right">
          <h5 class="text-white">Sobre Nosotros</h5>
          <ul>
            <li>
              <a class="text-white links" v-on:click="cargarAboutMe" href="#">Creador</a>
            </li>
            <li>
              <a class="text-white links" href="#" v-on:click="cargarAboutMe">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- fin primera fila --> 
      <div class="container-fluid row">
        <div>
          <span>© 2020 Derechos Reservados</span>
          <a class="text-white right links" v-on:click="cargarIndex" href="#"> Comic Store</a>
        </div>
      </div>
      <!-- fin segunda fila -->
    </footer>
  </main>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://kit.fontawesome.com/4666df0220.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="js/script.js"></script>
</body>

<!-- Modal Structure 
    
      <div id="modal1" class="modal">
        <div v-if="datos_superHeroes != null">
          <!-- Validacion de datos_superHeroes 
          <div class="modal-content red " style="background-image: url('img/cardboard.png')">
            <!-- Carta Modal 
            <div class="col s12 m12 l12">
              <a href="#!" class="left modal-close waves-effect waves-green btn-flat"><i
                  class="material-icons">backspace</i></a>
              <h4 class="header center" style="font-family: 'Lilita One', cursive;">Informacion adicional</h4>

              <div class="card horizontal z-depth-4 red lighten-1" style="background-image: url('img/cardboard.png')">

                <div class="card-image hide-on-med-and-down">
                  <img :src="url_img_carta" height="350">
                </div>


                <div class="card-stacked">
                  <div class="card-content">
                    <!-- {{test.obj['full-name']}} 
                    <P><b>Nombre completo:</b> {{(datos_superHeroes.biography['full-name'] == "")?"Sin informacion":datos_superHeroes.biography['full-name'] }}</P>
                    <p><b>Alias:</b> {{datos_superHeroes.biography.aliases[0]}}</p>
                    <p><b>Publicador:</b> {{datos_superHeroes.biography.publisher}}</p>
                    <p><b>Aliniación:</b> {{(datos_superHeroes.biography.alignment =="good")?"Bueno":"Malo"}}</p>
                    <p><b>Genero:</b> {{(datos_superHeroes.appearance.gender =="Male")?"Hombre":"Mujer"}}</p>
                    <p><b>Raza:</b> {{datos_superHeroes.appearance.race}} </p>
                    <p><b>Estatura:</b> {{datos_superHeroes.appearance.height[1]}}</p>
                    <p><b>Peso:</b> {{datos_superHeroes.appearance.weight[1]}}</p>
                    <p><b>Trabajo:</b> {{datos_superHeroes.work.occupation}}</p>
                    <p><b>Base:</b> {{datos_superHeroes.work.base}}</p>
                    <p><b>Conexiones:</b> {{datos_superHeroes.connections.relatives}}</p>
                  </div>
                </div><!-- card Stacked 

              </div><!-- CARD HORIZONTAL 
            </div>
            <!-- Fin de primera fila 
          </div>
          <!-- fin de modal 
        </div>
        <!-- fin validacion de datos 
      </div>
      <!-- Fin modal 


    <!-- Comienzo Contenido pagina 

    <!-- Mascara de carga 

    <div class="row center" id="pantalla_carga" style="display: block; z-index: 999; height:80vh;">
      <div class="col l12 m12 s12">
        <h1 style="font-family: 'Lilita One', cursive;">Cargando Cartas</h1>

        <div class="progress black" style="margin-top: 10%;">
          <div class="determinate white" :style="barra + progreso_carga + barra_porcentaje"></div>
        </div>
        <h2 class="white-text">{{progreso_carga.toFixed(1)}}%</h2>
        <p class="white-text" style="font-style: 20px;">Estamos cargando para ti algunas cartas, para que puedas
          mejora la experiencia de uso,
          mientras las demas se cargan, solo cargaremos algunas para mostrarte la pagina y mientras
          navegas se carguen las demas.
        </p>
        <p class="white-text"><b>IMPORTANTE, SI TU CONEXION A INTERNET ES MALA O INESTABLE, LA PAGINA TENDRA PROBLEMAS
            AL CARGAR</b></p>

      </div>
    </div>

    <!-- Fin mascara carga 

    <!-- informaciooncreadores 

    <!-- Cartas de super heroes 

    <div class="row" id="superheroestab" style="display: none;">
      <div class="col l3 m6 s12" v-for="x in superheroes">
        <div id="cartas_superheroes" class="card-panel center z-depth-4 grey lighten-4" @click="carga_modal(x)"
          style="background-image: url('img/sofcarta.png')">
          <!-- inicio cardpanel 
          <h4 class="center"><b>({{x.id}})</b> {{x.name}}</h4>
          <img :src="x.image.url" height="250" class=" z-depth-3">
          <hr>
          <h5><b>Habilidades</b></h5>
          <div class="row">
            <div class="col l8 offset-l2 offset-m2 m8 offset-s1 s10">
              <span>Inteligencia ({{(x.powerstats.intelligence != "null")?x.powerstats.intelligence:"0"}})</span>
              <div class="progress">
                <div class="determinate blue" :style="barra + x.powerstats.intelligence +barra_porcentaje"></div>
              </div>
              <span>Fuerza ({{(x.powerstats.strength != "null")? x.powerstats.strength:"0"}})</span>
              <div class="progress">
                <div class="determinate red" :style="barra + x.powerstats.strength +barra_porcentaje"></div>
              </div>
              <span>Velocidad ({{(x.powerstats.speed != "null")?x.powerstats.speed:"0"}})</span>
              <div class="progress">
                <div class="determinate yellow" :style="barra + x.powerstats.speed +barra_porcentaje"></div>
              </div>
              <span>Durabilidad ({{(x.powerstats.durability != "null")?x.powerstats.durability:"0"}})</span>
              <div class="progress">
                <div class="determinate grey" :style="barra + x.powerstats.durability +barra_porcentaje"></div>
              </div>
              <span>Poder ({{(x.powerstats.power != "null")?x.powerstats.power:"0"}})</span>
              <div class="progress">
                <div class="determinate green" :style="barra + x.powerstats.power +barra_porcentaje"></div>
              </div>
              <span>Combate ({{(x.powerstats.combat != "null")?x.powerstats.combat:"0"}})</span>
              <div class="progress">
                <div class="determinate black" :style="barra + x.powerstats.combat +barra_porcentaje"></div>
              </div>
            </div>
          </div><!-- fin row de card panel 
        </div>
      </div>
    </div>

    <!-- fin cartas de superheroes 

  </main>
  <!-- Fin de contenido  

  <!-- Comienzo de Footer 
  <footer class="page-footer grey darken-4" id="fuenteCuerpo">
    <!-- Todo foote donde va todo 
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Super Heroes</h5>
          <p class="grey-text text-lighten-4"><a
              href="https://uwanime.files.wordpress.com/2017/02/quality-comics-logo.png" class="brand-logo"><img
                src="https://uwanime.files.wordpress.com/2017/02/quality-comics-logo.png" height="80"></a></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Sobre Nosotros</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" onClick="cambiar('aboutme')" href="#">Creadores</a></li>
            <li><a class="grey-text text-lighten-3" href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- fin primera fila 
    <div class="footer-copyright black">
      <div class="container">
        © 2020 Derechos Reservados
        <a class="grey-text text-lighten-4 right" onClick="cambiar('superheroestab')" href="#">SuperHeroes</a>
      </div>
    </div>
    <!-- fin segunda fila 
  </footer>


  <!--JAVA SCRIPTS
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/script.js"></script>
</body>-->

</html>