.fondo-brushed {
  background-image: url(../images/brushed-alum.png);
}

.fondo-banner {
  background-image: url(../images/cubes.png);
}

.fondo-sofcarta {
  background-image: url(../images/sofcarta.png);
}

.fondo-cardboard {
  background-image: url(../images/cardboard.png);
}

.banger-25 {
  font-family: Bangers;
  font-size: 25px;
  color: white;
  text-decoration: none !important;
}

#banger-25:hover {
  color: crimson;
}

.banger {
  font-family: Bangers;
  color: white;
  text-decoration: none;
}

.links:hover {
  color: crimson !important;
  text-decoration: none;
}

footer {
  align-items: flex-end;
  position: relative;
  width: 100%;
  bottom: 0;
}

.comic-card {
  margin-left: 1em !important;
  margin-right: 1em !important;
}

.hero-card:hover {
  background-color: crimson !important;
}

.set {
  background-color: crimson !important;
}

.cart_anchor {
  float: right;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
